* {
  font-family: sans-serif;
}
h2 {
  font-size: 45px;
  padding-bottom: 0px;
  padding-top: 0px;
}
p{
  font-size: 14px;
}
body {
  width: 100%;
  margin: 0 auto;

}
.banner h3, button{
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0px;
}
header {
  background-image: url("Fondo.png");
  background-size: cover;
  height: 400px;
}
header .top {
  background-color: rgba(0, 0, 0, 0.5);
}

header nav .left {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 100px;
  font-size: 15px;
  display: inline-block;
  width: 40%;
}

header nav .right {
  font-size: 12px;
  display: inline-block;
  width: 40%;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
  font-size: 14px;
}

header nav .right a {
  text-decoration: none;
  color: rgb(139, 139, 139);
  margin-left: 10px;
}

header h1 {
  padding-top: 70px;
  padding-bottom: 0px;
  display: block;
  text-align: center;
  color: white;
  font-size: 55px;
}

header h3 {
  padding-top: 0px;
  display: block;
  text-align: center;
  color: white;
  font-size: 35px;
}

header button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgb(254, 0, 110);
  border-radius: 50px;
  color: white;
  border: none;
  font-size: 10px;
}
.articleSection {
  width: 75%;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  align-items: center;
}

.article {
  vertical-align: middle;
  text-align: left;
  display: inline-block;
  width: 45%;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 50px;
  border-radius: 10px;
}

img {
  vertical-align: middle;
  
  border-radius: 800px;
  width: 300px;
  height: 300px;
}

.article + img,
img + .article {
  margin-left: 30px;
  margin-right: 30px;
}
.fot {
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 8px;
  background-color: black;
  color: white;
  position: relative;
  height: 35%;
  margin-top: 25px;
}
